@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./components/nav.css";
@import "./components/general.css";
@import "./components/typography.css";
@import "./components/layout.css";
@import "./components/button.css";

@import "tailwindcss/utilities";

@font-face {
  font-family: "FF Monteral Two";
  src: url(../fonts/ff-monteral-02.ttf) format("truetype");
}

@font-face {
  font-family: "FF Monteral Two";
  src: url(../fonts/ff-monteral-02.eot);
}

@font-face {
  font-family: "FF Monteral Two";
  src: url(../fonts/ff-monteral-02.woff) format("woff");
}

@font-face {
  font-family: "FF Monteral Two";
  src: url(../fonts/ff-monteral-02.otf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.eot);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.otf) format("truetype");
}

@font-face {
  font-family: "SF Pro";
  src: url(../fonts/SF-Pro.ttf) format("truetype");
}

@layer base {
  h2 {
    @apply text-[32px] xl:text-[40px] 2xl:text-[56px];
    line-height: 70px;
    color: #fcba3b;
  }
  h4 {
    @apply text-[30px] uppercase;
    background: linear-gradient(90.49deg, #fcba3b 7.83%, #ff8a1e 98.28%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
}

html,
body {
  font-family: "FF Monteral Two", sans-serif;
  font-size: 16px;
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
